.vscode/**
src/**
test/**
.gitignore
.claude/**
CLAUDE.md
tsconfig.json
esbuild.mjs
vitest.config.ts
**/*.map
.context/**
node_modules/**
!node_modules/web-tree-sitter/**
!node_modules/tree-sitter-wasms/**
